[Unit]
Description=MaMaoHub Auto-Hotspot Monitor
After=network.target NetworkManager.service

[Service]
Type=oneshot
ExecStartPre=/bin/sleep 30
ExecStart=/usr/local/bin/autohotspot.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
